/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before, *:after{
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    color:inherit;
    text-decoration: none;
}

/* body style */
body{
    /* 整个网页背景色变化 */
    background: #eeeeee;
}

/*search box*/
.search{
    margin: 8px 20px 20px 20px;
}
.search-target{
    text-align: center;
}
.search-target-list > li{
    display: inline-flex;
    margin: 8px 8px 8px 0;
}
.search-target-list > li > svg {
    margin-top: 2px;
    margin-right: 4px;
}
.search-form > .search-value{
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 40px;
    width: 100%;
    float:left;
}
.search-button{
    width: 25px;
    height: 25px;
    margin: 8px 0 5px -35px;
    border-width: 0;
    background: url("imgs/search.svg") #fff no-repeat;
    background-size: 25px 25px
}

.container > h2{
    font-size: 18px;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
}

/*favourites list*/
.favourites-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.site-card{
    width: 64px;
    height: 64px;
    margin-left: 24px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
}
.site-card > h3{
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    line-height: 42px;
}
.site-card > .site-card-body{
    display: flex;
    justify-content: space-around;
    font-size: 8px;
    color: #777;
}
.site-card > .close{
    position: absolute;
    right: 4px;
    top: 2px;
    display: none;
    cursor: default;
}
.site-card:hover > .close {
    display: block;
}

.favourites-list > .add-button >svg{
    width: 36px;
    height: 36px;
    margin-top: 13px;
    margin-left: 13px;
}

/*navigations list*/
.sites-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.nav-card{
    width: 152px;
    height: 64px;
    margin-left: 24px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
}
.nav-card > h3{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    line-height: 42px;
    color: #0275D8;
}
.nav-card > .nav-card-body{
    display: flex;
    justify-content: space-around;
    font-size: 8px;
    color: #777;
}